<launch>
  <arg name="model" />
  <arg name="gui" default="false" />
  <param name="use_gui" value="$(arg gui)" />
  <!-- start velodybe -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
  
  <!-- start robot -->
  <include file="$(find autolabor_pro1_driver)/launch/driver.launch" />
  
  <!-- autolabor_description -->
  <include file="$(find autolabor_description)/launch/autolabor_pro1.launch"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
 
  <!-- Run the move base -->
  <include file="$(find robot_navigation)/launch/pro_move_bash.launch" />
  
  <!--- Run AMCL <include file="$(find amcl)/examples/amcl_diff.launch" />-->
  <include file="$(find amcl)/examples/amcl_diff.launch"/>

  <!-- Run a static transform between /odom and /map -->
  
  <!-- Run kubeedge mapper -->
  <node pkg="mapper_sub" name="sub" type="sub.py" output="screen"/>
  <node pkg="mapper_sub" name="pub" type="pub.py" output="screen"/>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4" 
    args="0.075 0.0 0.575 0.0 0.0 0.0 /base_link /velodyne 50" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_navigation)/rviz/nav.rviz" />

</launch>
